<nav class="navbar navbar-dark bg-success">
  <a class="navbar-brand" href="/"><i class="fa fa-globe"></i> CIRCUITOS TURISTICOS</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/circuitos">Paquetes</a>
      <a class="nav-item nav-link" href="#">Reservas</a>
      <a class="nav-item nav-link" href="#">Ofertas</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#" target="_blank">
        <i class="fa fa-bus"></i>
      </a>
      <a class="nav-item nav-link" href="#" target="_blank">
        <i class="fa fa-taxi"></i>
      </a>
      <a class="nav-item nav-link" href="#" target="_blank">
        <i class="fa fa-train"></i>
      </a>
    </div>
  </div>
</nav>
