<br>
<div class="container-fluid">
  <header class="row">
    <br/>
    <div class="col-12 col-sm-12 col-md-offset-1 col-md-10 col-xl-12">
      <ol class="breadcrumb alert-success">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Paquetes</li>
      </ol>
    </div>
  </header>
  <article class="row">
    <section class="col-xs-12 col-sm-6 col-md-offset-1 col-md-6">
      <div class="card">
        <img class="card-img-top" src="assets/cir/cristo-concordia.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">CRISTO CONCORDIA</h5>
          <p class="card-text">El denominado Cristo de La Concordia es una colosal estatua ubicada en la ciudad de Cochabamba- Bolivia, que desde el año 1987.</p>
          <a href="#" class="btn btn-success">Ver Ubicación</a>
        </div>
      </div>
    </section>
    <section class="col-xs-12 col-sm-6 col-md-offset-1 col-md-6">
      <div class="card">
        <img class="card-img-top" src="assets/cir/pueblito.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">EL PUEBLITO</h5>
          <p class="card-text">El Pueblito, en Cochabamba es un pequeño barrio antiguo, ubicado al noroeste de la ciudad, en la zona de Tupuraya.</p>
          <a href="https://www.google.com/maps/place/parque+el+Pueblito/@-17.3766164,-66.1448602,16.5z/data=!4m8!1m2!2m1!1sel+pueblito+cochabamba!3m4!1s0x93e376a781bf74ef:0x27010fc84a392c4e!8m2!3d-17.3750895!4d-66.14126" class="btn btn-success">Ver Ubicación</a>
        </div>
      </div>
    </section>
  </article>
  <br>
  <article class="row">
    <section class="col-xs-12 col-sm-6 col-md-offset-1 col-md-6">
      <div class="card">
        <img class="card-img-top" src="assets/cir/jardin-botanico.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">JARDIN BOTANICO</h5>
          <p class="card-text">Este gran jardín botánico de aproximadamente dos hectáreas de extensión, lleva el nombre del insigne Doctor Martín Cárdenas, cochabambino.</p>
          <a href="#" class="btn btn-success">Ver Ubicación</a>
        </div>
      </div>
    </section>
    <section class="col-xs-12 col-sm-6 col-md-offset-1 col-md-6">
      <div class="card">
        <img class="card-img-top" src="assets/cir/tunari.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">VILLA TUNARI</h5>
          <p class="card-text">El Municipio de Villa Tunari es una invitación ideal a pasar vacaciones y fines de semana disfrutando de sus ríos y vegetación, que lo convierten en un lugar paradisíaco, apto para el descanso y la aventura.
            Este municipio cuenta con una variada infraestructura hotelera y servicios turísticos, su clima húmedo y cálido
            (24 a 40 grados en verano) son la invitación ideal a disfrutar de deportes de aventura como el rafting, canotaje, ciclismo, trekking, etc..</p>
          <a href="https://www.google.com/maps/place/Villa+Tunari/@-16.9717553,-65.4328966,15z/data=!3m1!4b1!4m5!3m4!1s0x93e443b46e781931:0xfdc489fa7820b372!8m2!3d-16.972335!4d-65.422281" class="btn btn-success">Ver Ubicación</a>
        </div>
      </div>
    </section>
  </article>
</div>
